<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<h1>Directory Query</h1>
  Directory Path: <input type="text" id="Dpath">
  <button button1 (click)="onClick($event)">Get files</button><br>
  <div id="error">
    No such file or directory!<br>
  </div>
  <div id="select">
    Select file:<br>
  </div>
  <select name = "selected" id="file" (change)="getOption($event.target.value)"></select>
  <ul id="attribute-list">
    </ul>

</body>
</html>
